body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #383838;
  padding: 2rem;
}

img {
  transition: 0.5s ease-in;
  filter: grayscale(0%);
  cursor: pointer;
}

img:hover {
  filter: grayscale(100%);
}

code {
  color: rgb(147, 195, 236);
}
